<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 唐诗管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('poem/index')}" data-title="唐诗列表" href="javascript:void(0)">唐诗列表</a></li>
          			<li><a _href="{:url('poem/add')}" data-title="添加唐诗" href="javascript:void(0)">添加唐诗</a></li>
          			<li><a _href="{:url('poem/check')}" data-title="唐诗审核" href="javascript:void(0)">唐诗审核</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="" data-title="会员列表" href="javascript:void(0)">会员列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 背唐诗<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('poem/mc')}" data-title="机器先" href="javascript:void(0)">机器先</a></li>
				</ul>
			</dd>
		</dl>



	</div>
</aside>
