<!--包含头部文件-->
{include file="public/header" /}
<div class="cl pd-5 bg-1 bk-gray mt-20"> 玩家先（整首）</div>
<article class="page-container">
    <div class="form form-horizontal" id="form-article-add">


        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>唐诗名：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="" placeholder="" id="title" readonly="true">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">作者：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="" placeholder="" id="author" readonly="true">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">上句：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="" placeholder="" id="pre_word" >
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">下句：</label>
            <div class="formControls col-xs-8 col-sm-3">
                <input type="text" class="input-text" value="" placeholder="" id="next_word" readonly="true">
            </div>
            <span id="tip"></span>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 下一首</button>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <label><input type="radio" name="changeInputMode" value="0" onclick="changeInputMenu(0)">单句</label>
                <label><input type="radio" name="changeInputMode" value="1" onclick="changeInputMenu(1)">整首输入</label>
            </div>
        </div>

        <div id="add_menu" class="hidden">
            <article class="page-container">
            <form class="form form-horizontal" id="form-article-add" method="post" action="{:url('poem/add')}">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>唐诗名：</label>
                    <div class="formControls col-xs-8 col-sm-3">
                        <input type="text" class="input-text" value="" placeholder="" id="" name="title">
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">作者：</label>
                    <div class="formControls col-xs-8 col-sm-3">
                        <input type="text" class="input-text" value="" placeholder="" id="" name="author">
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">诗句：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <script id="editor2"  type="text/plain" name="content" style="width:100%;height:400px;"></script>
                    </div>
                </div>

                <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                        <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 添加</button>
                    </div>
                </div>
            </form>
        </article>
        </div>
    </div>
</article>
<script>
    /**定义页面全局变量**/

    var SCOPE = {
        'user_url': "{:url('api/user/updateUserMatchInfoById')}",
        'word_url' : "{:url('api/poem/getWords')}",
    };
    var poem = {
        'words' : '',   // 查询诗句关键词
        'content' : [], // 诗句内容
        'title': '',
        'author' : '',
        'xpoint' : 0,   // 诗句的列数
        'ypoint' : 0,   // 诗句的行数
        'ok' : 0,    // 查询到的诗句符合首句 0 代表未查到数据，1 代表查到数据，用户输入的诗句完整 2 代表查到数据，用户输入的诗句不完整 ,3 背诵完成
        'status' : 0,//保存查询状态
    };
    var error = 0;
    var user_id = "{$user['id']}";

    function checkPoemOk(ok) {
        switch (ok)
        {
            case 0:
                $('#next_word').val('');
                return '我不会这首诗，请输入这首诗补充我的知识库吧。'
            case 1:
                $('#next_word').val(poem.content[poem.xpoint][1]);
                poem.xpoint++;
                return '';
            case 2:
                $('#next_word').val('');
                poem.content.splice(0,poem.content.length);
                poem.xpoint = 0;
                return '玩家背错了';
            case 3:
                $('#next_word').val(poem.content[poem.xpoint][1]);
                poem.content.splice(0,poem.content.length);
                poem.xpoint = 0;
                return '背完啦';
            default:return '';
        }
    }

    $('#pre_word').blur(function () {
        poem.words = $('#pre_word').val();
        if( poem.words == '')
        {
            $('#tip').text('');
            return;
        }
        var postData = {
            'words':  poem.words,
        };
        console.log('poem.content');
        console.log(poem.content);
        if(isEmpty(poem.content))   // content 为空，查找这首诗
        {
            console.log('通过if');
            $.post(SCOPE.word_url,postData,function(result){
                var time1=new Date().getTime();
                console.log('time1');
                console.log(time1)
                if(result.status == 1)
                {
                    poem.content = result.data.content;
                    poem.status = 1;
                    poem.xpoint = 0;
                } else if (result.status == 0) {
                    poem.status  = 0;
                }
            },'json');
        }

        setTimeout(function () {
            poem.words = $('#pre_word').val();
            // content 不为空，
            // 在 content 查找用户输入的诗句,以 xpoint 为起点
            if(!isEmpty(poem.content) && poem.status == 1)
            {
                poem.ok = 2;
                if(poem.words == poem.content[poem.xpoint][0])  //匹配成功
                {
                    poem.ok = 1;

                }
                if(poem.xpoint == poem.content.length-1)    // 一首诗背完
                {
                    poem.ok = 3;
                }
            }
            else
            {
                poem.ok = 0;
            }
            var tip = checkPoemOk(poem.ok); // 给出提示信息，并给出下句诗
            $('#tip').text(tip);
        },'1000')

    });

    function isEmpty(value) {
        return Object.keys(value).length === 0;
    }
</script>
<script type="text/javascript">
    function changeInputMenu(id) {
        if(id == 1)
        {
            $('#add_menu').removeClass('hidden');
        }
        else
        {
            $('#add_menu').addClass('hidden');
        }
    }

</script>
<!--包含头部文件-->
{include file="public/footer" /}
<script type="text/javascript" src="__STATIC__/admin/hui/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script src="__STATIC__/admin/hui/lib/My97DatePicker/WdatePicker.js"></script>
<script>
    $(function(){
        var ue = UE.getEditor('editor');
        var ue2 = UE.getEditor('editor2');
    });
</script>
</body>
</html>
