<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">

		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 背唐诗<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('poem/mc')}" data-title="机器先" href="javascript:void(0)">机器先</a></li>
					<li><a _href="{:url('poem/player')}" data-title="玩家先(单句)" href="javascript:void(0)">玩家先(单句)</a></li>
					<li><a _href="{:url('poem/poem')}" data-title="玩家先（整首）" href="javascript:void(0)">玩家先（整首）</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
