<!--包含头部文件-->
{include file="public/header" /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 唐诗列表 </nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">
        <div class="text-c">
            日期范围：
            <input type="text" name="start_time" class="input-text" id="countTimestart" onfocus="selecttime(1)" value="" style="width:120px;" >
            -
            <input type="text" name="end_time" class="input-text" id="countTimestart" onfocus="selecttime(1)" value=""  style="width:120px;">
            <input type="text" name="name" id="" placeholder=" 唐诗名称" style="width:250px" class="input-text">
            <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索
            </button>
        </div>
    </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort">

            <thead>
            <tr class="text-c">
                <th width="20">ID</th>
                <th width="100">唐诗名</th>
                <th width="40">诗人</th>
                <th width="40">诗句</th>
                <th width="80">创建时间</th>
                <th width="60">状态</th>
                <th width="40">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="poems" id="vo"}

            <tr class="text-c">
                <td>{$vo.id}</td>
                <td>{$vo.title}</td>
                <td>{$vo.author}</td>
                <td>{$vo.content|cutwords}</td>

                <td>{$vo.create_time}</td>
                <td><a href="{:url('poem/status',['id' => $vo.id,'status' => $vo.status == 1?0:1])}">{$vo.status|status}</a></td>
                <td class="td-manage">
                    <a style="text-decoration:none" class="ml-5" onClick="o2o_edit('修改','{:url('poem/detail',['id'=>$vo.id])}')" href="javascript:;" title="查看"><i class="Hui-iconfont">&#xe6df;</i></a>
                    <a style="text-decoration:none" class="ml-5" onClick="o2o_del('{:url('poem/status',['id' => $vo.id,'status' => -1])}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
    {$poems|pagination}
</div>
<!--包含头部文件-->
{include file="public/footer" /}
<script src="__STATIC__/admin/hui/lib/My97DatePicker/WdatePicker.js"></script>
